build/
build_uefi/
build_bios/
!toolchain
toolchain/*
installer/build
installer/tmp
installer/src
installer/mbr_embedded.c
installer/iso_mbr_embedded.c
installer/stage2_embedded.c
installer/hyper_install
installer/hyper_install.exe
*.pyc
tests/kernel/build
tests/kernel/ultra_protocol.h
!tests/kernel/common
tests/kernel/common/*
!tests/kernel/common/log.*
!tests/kernel/common/io.h
!tests/kernel/common/string_ex.h
cmake-build-debug/
.idea/
.vscode/
.DS_Store
!toolchain/build.sh
.pytest_cache
__pycache__
