build/
build_uefi/
build_bios/
toolchain/
installer/build
installer/tmp
installer/src
installer/mbr_embedded.c
installer/stage2_embedded.c
installer/hyper_install
installer/hyper_install.exe
cmake-build-debug/
.idea/
.vscode/
.DS_Store
!toolchain/build.sh
