build/
build_uefi/
build_bios/
!toolchain
toolchain/*
!toolchain/toolchain_gcc.cmake
installer/build
installer/tmp
installer/src
installer/mbr_embedded.c
installer/iso_mbr_embedded.c
installer/stage2_embedded.c
installer/hyper_install
installer/hyper_install.exe
*.pyc
tests/kernel/build
tests/kernel/ultra_protocol.h
!tests/kernel/include/
tests/kernel/include/*
!tests/kernel/common
tests/kernel/common/*
!tests/kernel/include/common
tests/kernel/include/common/*
!tests/kernel/include/common/log.h
!tests/kernel/include/common/io.h
!tests/kernel/include/common/string_ex.h
!tests/kernel/common/log.c
cmake-build-debug/
.idea/
.vscode/
.DS_Store
!toolchain/build.sh
.pytest_cache
__pycache__
